replicaCount: 2

image:
  repository: my-python-app
  pullPolicy: IfNotPresent
  tag: latest

service:
  type: ClusterIP
  port: 80
  targetPort: 5000

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"

env:
  FLASK_ENV: production

nodeSelector: {}

tolerations: []

affinity: {}

