apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-python-app
  namespace: my-namespace
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-python-app
  template:
    metadata:
      labels:
        app: my-python-app
    spec:
      containers:
        - name: my-python-app
          image: my-python-app:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
